@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logo-scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%)
    }
}
.logo-scroll{
    animation: logo-scroll 15s linear infinite;
   
}

.group:hover .logo-scroll {
  animation-duration: 60s;
}





